/.MappingAssistanceRuntimeModule.java._trace
/.MappingAssistanceRuntimeModule.xtendbin
/.MappingAssistanceStandaloneSetup.java._trace
/.MappingAssistanceStandaloneSetup.xtendbin
/MappingAssistanceRuntimeModule.java
/MappingAssistanceStandaloneSetup.java
