/.MappingAssistanceIdeModule.java._trace
/.MappingAssistanceIdeModule.xtendbin
/.MappingAssistanceIdeSetup.java._trace
/.MappingAssistanceIdeSetup.xtendbin
/MappingAssistanceIdeModule.java
/MappingAssistanceIdeSetup.java
