/.ArchitectureRuntimeModule.java._trace
/.ArchitectureRuntimeModule.xtendbin
/.ArchitectureStandaloneSetup.java._trace
/.ArchitectureStandaloneSetup.xtendbin
/ArchitectureRuntimeModule.java
/ArchitectureStandaloneSetup.java
