/.ArchitectureDescriptionLabelProvider.java._trace
/.ArchitectureDescriptionLabelProvider.xtendbin
/.ArchitectureLabelProvider.java._trace
/.ArchitectureLabelProvider.xtendbin
/ArchitectureDescriptionLabelProvider.java
/ArchitectureLabelProvider.java
