/.MappingAssistanceDescriptionLabelProvider.java._trace
/.MappingAssistanceDescriptionLabelProvider.xtendbin
/.MappingAssistanceLabelProvider.java._trace
/.MappingAssistanceLabelProvider.xtendbin
/MappingAssistanceDescriptionLabelProvider.java
/MappingAssistanceLabelProvider.java
