/.TestintentionsAssistanceDescriptionLabelProvider.java._trace
/.TestintentionsAssistanceDescriptionLabelProvider.xtendbin
/.TestintentionsAssistanceLabelProvider.java._trace
/.TestintentionsAssistanceLabelProvider.xtendbin
/TestintentionsAssistanceDescriptionLabelProvider.java
/TestintentionsAssistanceLabelProvider.java
