/.TestintentionsAssistanceIdeModule.java._trace
/.TestintentionsAssistanceIdeModule.xtendbin
/.TestintentionsAssistanceIdeSetup.java._trace
/.TestintentionsAssistanceIdeSetup.xtendbin
/TestintentionsAssistanceIdeModule.java
/TestintentionsAssistanceIdeSetup.java
